@media screen and (max-width: 992px){
    body {
        font-size: 1rem;
        .header .menu .activa{
            font-size: 1.25rem;
        }
        main{
            .separador{
            font-size: 1.75rem;
            }
            .nos{
            width: 75%;
            }
            .noticias{
                .noticia{
                width: 75%;
                height: 580px;
                }
            }
            .informacion{
                width: 90%;
            }
            .contInfo{
                width: 80%;
            }
        }
        .footer{
            .links{
                width: 75%;
            }
        }
    } 
}