@import "colores";
@import "mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    background-color: $fondo;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    .header {
        background-color: $azul;
        @include espaciado(0, 0);
        .menu{
            background-color: $fondo;
            font-family: 'Macondo', cursive;
            a{
                color: $links;
            }
            .activa{
                background-color: $azul2;
                color: $letra;
                font-size: 1.75rem;
                font-weight: bold;
                border-radius: 100%;
            }
            li:hover{
                background-color: $letra2;
                font-weight: bold;
                border-radius: 100%;
            }
        }
    }
}
main{
    .separador{
        text-align: center;
        background: linear-gradient($azul, $azul2, $azul);
        @include espaciado(0, 1%);
        color: $letra2;
        font-family: 'Macondo', cursive;
        font-size: 2.25rem;
    }
    .seccion1{
        background-color: $celeste;
        @include espaciado(1%, 1%);
    }
    .seccion2{
        background-color: $celeste2;
        @include espaciado(1%, 1%);
    }
    .seccion3{
        background-color: $celeste3;
        @include espaciado(1%, 1%);
    }
    .noticias{
        background-color: $celeste3;
        @include espaciado(1%, 1%);
        .noticia{
            background: linear-gradient(to left, $azul2, $azul, $azul2);
            width: 30%;
            height: 903px;
            @include espaciado(1%, 1%);
            color: $letra;
            a{
                color: $letra;
            }
        }
    }
    .fotostrabajos{
        background-color: $celeste;
        @include espaciado(1%, 1%);
        height: 700px;
        overflow: auto;
    }
    .continfo{
        background-color: $celeste3;
        border-radius: 1%;
        .enviar{
            background-color: $azul2;
            color: $letra;
        }
    }
    .nos{
        width: 40%;
    }
    .informacion{
        width: 50%;
        @include espaciado(1%, 2%)
    }
    .aclaracion{
        @include espaciado(1%, 1%)
    }
}
.footer{
    @include espaciado(0, 1%);
    background-color: $azul;
    color: $letra;
    font-family: 'Macondo', cursive;
}
@import "media"